<h1>Enter a new animal</h1>

<form action="/create_animal">
  <div>
    <label for="name">Name:</label>
    <input type='text' id="name" name="name" placeholder="giraffe">
  </div>
  <div>
    <label for="pic">Picture Url:</label>
    <input type='text' id="pic" name="pic" placeholder="http://picture.jpg">
  </div>
  <div>
    <label for="fact">Random fact:</label>
    <input type='text' id="fact" name="fact" placeholder="they are tall">
  </div>
  <input type="submit">
</form>